<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% books.each do |book| %>
        <tr>
          <td>
            <%= link_to(book.user) do %>
              <%= image_tag book.user.get_profile_image, size:'50x50' %>
            <% end %>
          </td>
          <td><%= link_to book.title,book %></td>
          <td><%= book.body %></td>
          <td id="favorite_buttons_<%= book.id %>">
            <%= render "favorites/favorite", post_book: book %>
          </td>
          <td>
            コメント数：<%= book.book_comments.count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-8 offset-md-4">
  <h2>投稿数の前日比・前週比</h2>
  <table class='table table-hover table-inverse table-bordered'>
    <thread>
      <tr>
        <th>今日の投稿数</th>
        <th>前日の投稿数</th>
        <th>前日比</th>
      </tr>
    </thread>
    <tbody>
      <tr>
        <td><%= @today_book.count %></td>
        <td><%= @yesterday_book.count %></td>
        <td>
          <% if @yesterday_book.count == 0 %>
            前日の投稿はありません
          <% else %>
            <%= (@yesterday_book.count.to_f / @today_book.count.to_f * 100).floor(0) %>%
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-hover tabole-inverse table-bordered">
    <thread>
      <tr>
        <th>今週の投稿数</th>
        <th>前週の投稿数</th>
        <th>前週比</th>
      </tr>
    </thread>
    <tbody>
      <tr>
        <td><%= @this_week_book.count %></td>
        <td><%= @last_week_book.count %></td>
        <td>
          <% if @last_week_book.count == 0 %>
            前週の投稿はありません
          <% else %>
            <%= (@this_week_book.count.to_f / @last_week_book.count.to_f * 100).floor(0) %>%
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>